<nav
  id="topnav"
  class="defaultscroll is-sticky"
  [ngClass]="{ 'nav-sticky': scrolled, '!bg-white dark:!bg-slate-900': bgLight }"
>
  <div [ngClass]="navFull ? 'container-fluid container-fluid md:px-8 px-3' : 'container'">
    @if (navLight) {
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            [src]="'assets/images/logo-icon-40.png'"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            [src]="'assets/images/logo-icon-40-white.png'"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <span class="inline-block dark:hidden">
            <img [src]="'assets/images/logo-dark.png'" class="h-[24px] l-dark" alt="" />
            <img [src]="'assets/images/logo-light.png'" class="h-[24px] l-light" alt="" />
          </span>
          <img
            [src]="'assets/images/logo-white.png'"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    } @else {
      <a class="logo" routerLink="/">
        <div class="block sm:hidden">
          <img
            [src]="'assets/images/logo-icon-40.png'"
            class="h-10 inline-block dark:hidden"
            alt=""
          />
          <img
            [src]="'assets/images/logo-icon-40-white.png'"
            class="h-10 hidden dark:inline-block"
            alt=""
          />
        </div>
        <div class="sm:block hidden">
          <img
            [src]="'assets/images/logo-dark.png'"
            class="h-[24px] inline-block dark:hidden"
            alt=""
          />
          <img
            [src]="'assets/images/logo-white.png'"
            class="h-[24px] hidden dark:inline-block"
            alt=""
          />
        </div>
      </a>
    }

    <div class="menu-extras">
      <div class="menu-item">
        <a
          [routerLink]="[]"
          class="navbar-toggle"
          [ngClass]="showToggleMenu ? 'open' : ''"
          id="isToggle"
          (click)="toggleMenu()"
        >
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>

    <ul class="buy-button list-none mb-0">
      <li class="inline-block mb-0">
        <div class="relative top-[3px]">
          <span class="relative inline-block">
            <input
              type="checkbox"
              class="checkbox opacity-0 absolute"
              id="chk"
              (change)="changeMode($event)"
            />
            <label
              class="label bg-slate-900 dark:bg-white shadow-sm dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8"
              for="chk"
            >
              <i class="uil uil-moon text-[20px] text-yellow-500"></i>
              <i class="uil uil-sun text-[20px] text-yellow-500"></i>
              <span
                class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] size-7"
              ></span>
            </label>
          </span>
        </div>
      </li>

      <li class="dropdown inline-block relative ps-1" (clickOutside)="closeOutSideClick($event)">
        <button class="dropdown-toggle items-center" type="button" (click)="userDropdow($event)">
          <div class="fi fi-tr w-6 h-4 rounded-sm"></div>
        </button>

        <div
          class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow-sm shadow-gray-200 dark:shadow-gray-700"
          [ngClass]="user ? '' : 'hidden'"
        >
          <ul class="py-2 text-start">
            <li>
              <a
                routerLink="/candidate-profile"
                class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white"
                ><i data-feather="user" class="size-4 me-2"></i>Profile</a
              >
            </li>
            <li>
              <a
                routerLink="/candidate-profile-setting"
                class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-primary dark:hover:text-white"
                ><i data-feather="settings" class="size-4 me-2"></i>Settings</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div id="navigation" [ngClass]="showToggleMenu ? 'block' : 'hidden'">
      <ul class="navigation-menu" [ngClass]="navClass">
        <li [ngClass]="currentUrl === '/events-archive' ? 'active' : ''">
          <a routerLink="/events-archive" class="sub-menu-item">Events Archive</a>
        </li>

        <li
          class="has-submenu parent-menu-item"
          [ngClass]="
            ['/events-calendar', '/academic-calendar'].includes(currentUrl) ? 'active' : ''
          "
        >
          <a [routerLink]="[]" (click)="openSubManu('/calendars')">Calendars</a>
          <span class="menu-arrow"></span>
          <ul
            class="submenu"
            [ngClass]="
              ['/calendars', '/events-calendar', '/academic-calendar'].includes(subManu)
                ? 'open'
                : ''
            "
          >
            <li [ngClass]="currentUrl === '/events-calendar' ? 'active' : ''">
              <a routerLink="/events-calendar" class="sub-menu-item">Events Calendar</a>
            </li>
            <li [ngClass]="currentUrl === '/academic-calendar' ? 'active' : ''">
              <a routerLink="/academic-calendar" class="sub-menu-item">Academic Calendar</a>
            </li>
          </ul>
        </li>

        <li
          class="has-submenu parent-parent-menu-item"
          [ngClass]="
            ['/clubs', '/seminars', '/digital-library'].includes(currentUrl) ? 'active' : ''
          "
        >
          <a [routerLink]="[]" (click)="openSubManu('/activities')">Activities</a>
          <span class="menu-arrow"></span>
          <ul
            class="submenu"
            [ngClass]="
              ['/activities', '/clubs', '/seminars', '/digital-library'].includes(subManu)
                ? 'open'
                : ''
            "
          >
            <li [ngClass]="currentUrl === '/clubs' ? 'active' : ''">
              <a routerLink="/clubs" class="sub-menu-item">Clubs</a>
            </li>

            <li [ngClass]="currentUrl === '/seminars' ? 'active' : ''">
              <a routerLink="/seminars" class="sub-menu-item">Seminars</a>
            </li>

            <!-- <li [ngClass]="currentUrl === '/digital-library' ? 'active' : ''">
              <a routerLink="/digital-library" class="sub-menu-item">Digital Library</a>
            </li> -->
          </ul>
        </li>

        <li
          class="has-submenu parent-parent-menu-item"
          [ngClass]="['/about-us', '/inner-system', '/faq'].includes(currentUrl) ? 'active' : ''"
        >
          <a [routerLink]="[]" (click)="openSubManu('/about-us')">About Us</a>
          <span class="menu-arrow"></span>
          <ul
            class="submenu"
            [ngClass]="['/about-us', '/inner-system', '/faq'].includes(subManu) ? 'open' : ''"
          >
            <li [ngClass]="currentUrl === '/about-us' ? 'active' : ''">
              <a routerLink="/about-us" class="sub-menu-item">About Us</a>
            </li>
            <li [ngClass]="currentUrl === '/inner-system' ? 'active' : ''">
              <a routerLink="/inner-system" class="sub-menu-item">Inner System</a>
            </li>
            <li [ngClass]="currentUrl === '/faq' ? 'active' : ''">
              <a routerLink="/faq" class="sub-menu-item">FAQ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
